argcomplete==3.5.0
charset-normalizer==3.3.2
colorama==0.4.6
commitizen==3.29.0
decli==0.6.2
importlib_metadata==8.4.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
paho-mqtt==2.1.0
prompt-toolkit==3.0.36
pyserial==3.5
PyYAML==6.0.2
questionary==2.0.1
smbus2==0.4.3
termcolor==2.4.0
tomlkit==0.13.2
wcwidth==0.2.13
zipp==3.20.1
